PORT = 3000
# host: clusterbianca.1piexo2.mongodb.net (url de conexao)
MONGO_URI = mongodb+srv://sitiosemacuca:pewxr8HtNmuU12vS@conectaartes.fs8tjld.mongodb.net/?retryWrites=true&w=majority&appName=ConectaArtes
JWT_SECRET=82895f5fbe8e3611598a1cbf1bbd7c7d0e5275c0ff5d29fadca8fac9a5509defd43b538842726367281b1ba8b8fbcdbab1652ebdc6574ab9d1538817291e34a2

